<h2>Your Cart</h2>
<% if notice %>
		<span style="color:red; font-size: 15px;"><%= notice%></span>
<% end %>
<table id="table_cart"> 

    <%= render cart.line_items %>
    
    <tr class="total_line">
        <td colspan="2">TOTAL</td>
        <td class="total_cell"><%= number_to_currency(@cart.cart_total_price) if @cart%></td>
    </tr>
</table>
<%= button_to 'Checkout', 
              new_order_path, 
              :method => :get %>
<br>
<%= button_to 'Empty Cart', cart, :method => :delete, :data => {:confirm => "Are you sure?"} %>
